################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JmesPathWpfDemo/obj
/JmesPathWpfDemo/bin/Debug/net8.0-windows
/JmesPathWpfDemo/bin/Debug
